@using TeduShop.Common.Core;
@using TeduShop.Model.Models;
@model TeduShop.Web.Models.HomeViewModel
@{ ViewBag.Title = Model.Title;
    ViewBag.MetaKeyword = Model.MetaKeyword;
    ViewBag.MetaDescription = Model.MetaDescription;
    Layout = "~/Views/Shared/LayoutsXipo.cshtml";}
<div class="body">
    <div class="top-news-home andy-home-blade">
        @if (Model.HomeProduct.Count > 0) {
        <div class="left">
            <div class="home-slide">
                <div class="box-home-large">
                    <div>
                        <div class="panel">
                            <div class="panel-wrapper">
                                <a href="@Model.HomeProduct.FirstOrDefault().GeneraSlugNews()" class="link-img" title="@Model.HomeProduct.FirstOrDefault().Name">
                                    <img src="@Model.HomeProduct.FirstOrDefault().Image" width="490" height="279" />
                                </a>
                                <h1 class="main-title">
                                    <a href="@Model.HomeProduct.FirstOrDefault().GeneraSlugNews()" title="@Model.HomeProduct.FirstOrDefault().Name">
                                        @Model.HomeProduct.FirstOrDefault().Name
                                    </a>
                                </h1>
                                <p class="sapo">
                                    @Model.HomeProduct.FirstOrDefault().Description
                                </p>
                            </div>
                        </div>

                    </div>

                    <div class="nav-wrapper">
                        <ul>
                            @foreach (Product product in Model.HomeProduct.Skip(1).Take(3))
                            {
                <li>
                    <a href="@product.GeneraSlugNews()" title="@product.Name">
                        <img width="142" height="79" src="@product.Image" alt="@product.Name" title="@product.Name" />
                        <span>@product.Name</span>
                    </a>
                </li>}
                        </ul>
                    </div>
                </div>
                <script>
                    //    $(document).ready(function () {
                    var h = $('h1.main-title').height();
                    if (h < 20) {
                        $('h1.main-title').css({
                            'margin': '5px 0 0 0'
                        });
                        $('p.sapo').css({
                            'padding': '6px 0',
                            'height': '45px'
                        });
                    }
                    //    });
                </script>
                <div class="clear"></div>
            </div>
            <div class="list-top-news">
                <div id="banner-event"></div>
                <ul class="item">
                    <h2 class="title" style="    text-transform: uppercase;    font-weight: 700;    background: #e6e6e6!important;    height: 21px;    color: #000 !important;    padding: 0 10px;    font-size: 15px;    line-height: 23px;    ">Tin nổi bật</h2>
                    @foreach (Product product in Model.HomeProduct.Skip(4).Take(3))
                    {
        <li>
            <div class="home-news-item">
                <a class="latest-home-item" style="float: left; margin-right: 8px;" href="@product.GeneraSlugNews()" title="@product.Name">
                    <img src="@product.Image" width="185" height="105" />
                </a>
                <a href="#">
                    @product.Name
                    <img src="/Assets/client/data/ic_photo.png">
                </a>
                <p class="not-desktop">
                    @product.Description
                </p>
            </div>
            <div class="clearfix"></div>
        </li>}
                </ul>
            </div>
        </div>
        }
        <div class="right">
            <div id="banner3double">

                <div class="banner-home-3A" id="banner3a" style="margin-bottom: 8px;background: #cccccc;height: 250px;width: 300px; position: relative;">
                    <a target="_blank" class="href_ads_home3B" href="#" style="position: absolute; width: 100%; height: 100%;"> </a>
                    <img src="~/Assets/client/data/mobile.jpg">

                </div>
                <div class="banner-home-3A" id="banner3a" style="margin-bottom: 8px;background: #cccccc;height: 250px;width: 300px; position: relative;">
                    <a target="_blank" class="href_ads_home3B" href="#" style="position: absolute; width: 100%; height: 100%;"> </a>
                    <img src="~/Assets/client/data/300x250.jpg">
                    <script src="js/:"></script>
                    <script type="application/javascript" src="js/skeleton.js"></script> <noscript><img src="/Assets/client/data/:" border=0 width=1 height=1 alt=""></noscript>
                </div>




            </div>
        </div>
        <div class="clear"></div>
    </div>





    <div class="home-middle">
        <div class="col-left">
            <div class="top-view">
                <div class="box">
                    <h2 class="title"><a href="#">TIN MỚI CẬP NHẬT</a></h2>
                </div>
                <ul>
                    @foreach (Product product in Model.LastestProducts)
                    {
        <li>
            <a class="latest-home-item" href="@product.GeneraSlugNews()" title="@product.Name">@product.Name</a>
            <div class="home-news-item">
                <a class="latest-home-item" href="@product.GeneraSlugNews()" title="@product.Name">
                    <img src="@product.Image" width="127" height="70" />
                </a>
                <p>
                    @product.Description
                </p>
            </div>
            <div class="clearfix"></div>
        </li>}
                    <div class="paginator">
                        <ul id="yw0" class="yiiPager">

                            <li class="page  selected"><a href="#">1</a></li>
                            <li class="page"><a href="#">2</a></li>
                            <li class="page"><a href="#">3</a></li>
                            <li class="page"><a href="#">4</a></li>
                            <li class="page"><a href="#">5</a></li>
                            <li class="page"><a href="#">6</a></li>
                            <li class="page"><a href="#">7</a></li>
                            <li class="page"><a href="#">8</a></li>
                            <li class="next"><a href="#"><img src="/Assets/client/data/arrow-right.png"></a></li>
                        </ul>


                    </div>
                </ul>
            </div>
        </div>

        <div class="box home-one-big isnotmobile" style="width: 621px; float: right; border-bottom: solid 1px #dedede">
            <h2 class="title"><a href="#">Video</a></h2>
            <div class="list-items">
                <div style="width: 300px; float: left;">
                    <iframe style="position: relative" width="300" height="169" src="@Model.Videos.FirstOrDefault().Image" frameborder="0" allowfullscreen=""></iframe>
                    <div class="video-info">
                        <a class="big-video-link home-item-small" href="#">@Model.Videos.FirstOrDefault().Name</a>
                    </div>
                </div>
                <div class="video-other" style="width: 300px; float: left;">
                    <ul style="margin-top:0px;">
                        @foreach (Product product in Model.Videos)
                        {

            <li style="list-style: none;">
                <a style="text-align: left; float: left; margin-bottom: 11px;" class="home-item-small" href="#" title="@product.Name">
                    <img style="float:left; margin-right: 10px;" width="109" height="60" src="@product.Image" alt="@product.Name">
                    @product.Name
                </a>
            </li>}
                        <div class="clear"></div>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <div class="col-middle">



            <script>
                $('.tab-header label').on('click', function () {
                    $('.tab-header label').removeClass('active').removeClass('inactive').addClass('inactive');
                    $(this).removeClass('active').removeClass('inactive').addClass('active');
                    target = $(this).data('tab');
                    $('.tab-content > div').hide();
                    $('#' + target).show();
                });

                $('#bgoto #PriceListSearchForm_manufacture').on('change', function () {
                    var manuId = $(this).val()
                    $.post('/site/getselect', {
                        'manuId': manuId,
                        'cate': 1
                    }, function (resp) {
                        $('#bgoto #PriceListSearchForm_brand').html(resp);
                    }, 'html');
                });

                $('#bgxemay #PriceListSearchForm_manufacture').on('change', function () {
                    var manuId = $(this).val()
                    $.post('/site/getselect', {
                        'manuId': manuId,
                        'cate': 2
                    }, function (resp) {
                        $('#bgxemay #PriceListSearchForm_brand').html(resp);
                    }, 'html');
                });
            </script>

            @foreach (ProductCategory productCategory in Model.ListCategory.Where(x=>x.Products.Count>0))
            {
<div class="box home-one-big">
    <h2 class="title"><a href="@productCategory.GeneraSlugCategory()">@productCategory.Name</a></h2>
    <div class="list-items">
        <div class="big-news">
            <a class="home-item" href="#" title="">
                @productCategory.Products.FirstOrDefault().Name
            </a>
            <div class="home-news-item">
                <a class="home-item" href=" @productCategory.Products.FirstOrDefault().GeneraSlugNews()" title="@productCategory.Products.FirstOrDefault().Name">
                    <img src="@productCategory.Products.FirstOrDefault().Image" width="127" height="70" />
                </a>
                <p>
                    @productCategory.Products.FirstOrDefault().Description
                </p>
            </div>
            <div class="clearfix"></div>
        </div>
        <ul>
            @foreach (Product product in productCategory.Products.Skip(1))
            {

<li>
    <a class="home-item-small" href="@product.GeneraSlugNews()" title="@product.Name">@product.Name</a>
</li>
            }
        </ul>

    </div>
</div>}



        </div>
        <div class="col-right">
            <div class="box home-one-big">
                <h2 class="title"><a href="#">XEM NHIỀU NHẤT</a></h2>
                <div class="list-items">
                    <div class="big-news">
                        <a class="home-item" href="@Model.ProductViewMax.FirstOrDefault().GeneraSlugNews()" title="@Model.ProductViewMax.FirstOrDefault().Name">
                            @Model.ProductViewMax.FirstOrDefault().Name
                        </a>
                        <div class="home-news-item">
                            <a class="home-item" href="@Model.ProductViewMax.FirstOrDefault().GeneraSlugNews()" title="@Model.ProductViewMax.FirstOrDefault().Name">
                                <img src="@Model.ProductViewMax.FirstOrDefault().Image" width="127" height="70" />
                            </a>
                            <p>@Model.ProductViewMax.FirstOrDefault().Description</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <ul>
                        @foreach (Product product in Model.ProductViewMax)
                        {

                    <li>
                        <a class="home-item-small" href="@product.GeneraSlugNews()" title="@product.Name">@product.Name</a>
                    </li>
                }
                    </ul>

                </div>
            </div>
            <div class="box home-video">
                <h2 class="title">
                    <a href="#" title="Video">XE HAY TV</a>
                </h2>
                <div class="list-items">
                    <iframe style="position: relative" width="300" height="169" src="https://www.youtube-nocookie.com/embed/LynmuqEKhgk?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                    <div class="video-info">
                        <a class="big-video-link home-item-small" href="#">[VIDEO] Đánh giá Subaru Forester (chỉ từ 899 triệu) từ người dùng: Không phô trương nhưng rất "cốt lõi"</a>
                        <ul>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>