@using TeduShop.Common;
<!DOCTYPE html>
<html class="no-js" lang="vi" xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" itemscope="itemscope" itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/Assets/client/css/pager.css" />
    <script type="text/javascript" src="/Assets/client/js/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.MetaKeyword">
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta name="author" content="@ConfigHelper.SiteName" />
    <!-- Open Graph data -->
    <meta property="og:site_name" content="@ConfigHelper.SiteName" />
    <meta property="og:type" content="Website" />
    <meta property="og:locale" content="vi_VN" />

    @*<meta property="fb:app_id" content="1614260038822406" />*@
    @*<meta property="fb:pages" content="445089142275655" />*@
    <!--<meta property="fb:admins" content="100005111372125" />-->

    <meta property="og:title" name="title" content="@ViewBag.Title" />
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta property="og:url" content="@ViewBag.MetaUrl" />
    <meta property="og:image" content="@ViewBag.MetaImage" />
    <!-- HOME_INDEX -->


    <meta property="og:site_name" content="@ConfigHelper.SiteName" />
    <meta content='@ConfigHelper.SiteName' name='Author' />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-language" content="vi-vn" />
    <meta http-equiv="cleartype" content="on" />

    <link rel="stylesheet" href="~/Assets/client/css/normalize.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/main.v4.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/xiposg.v52.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/mobile.xiposg.rev80.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Assets/client/css/colorbox.css" />
    <script type="text/javascript">
        function scrollDownPage() {
            var scr_height = screen.availHeight;
            $('#mainpage').animate({
                marginTop: scr_height + "px"
            }, 1500);
            setTimeout(function () {
                $('#mainpage').animate({
                    marginTop: "200px"
                }, 1500);
            }, 8000);
        }

        function scrollUpPage() {
            $('#mainpage').animate({
                marginTop: "200px"
            }, 1500);
        }
    </script>


    <link href="~/Assets/client/css/video-js.v5.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Assets/client/js/video.dev.min.js"></script>

    <script>
        videojs.options.flash.swf = "/videojs/video-js.swf";
    </script>


    <div class="vcontroll andytest">
        <span class="vmini" title="Down" id="btnmini" data-status="open">
            <i class="fa fa-chevron-down"></i>
        </span>

        <span class="vplaypause" title="Pause" id="btnplay" data-status="play">
            <i class="fa fa-pause"></i>
        </span>

        <span class="vreplay" title="Replay" id="btnreplay" data-status="play">
            <i class="fa fa-refresh"></i>
        </span>
        <span class="vzoom" title="Maximize - Minimize" data-status="on" id="btnzoom">
            <i class="fa fa-compress"></i>
        </span>
        <span class="vclose" style="color: #fff; padding-right: 8px; cursor: pointer; line-height: 25px;" title="Đóng Video này" id="btnclose">Đóng</span>

    </div>


</head>

<body class="xiposg">
    <div class="container">
        @{Html.RenderAction("HeaderXipo", "Home");}
        @RenderBody()

      
        @{ Html.RenderAction("FooterXipo", "Home");}
    </div>
    <div class="mobile scrolltotop">
        <img src="/Assets/client/data/gototop.png" />
    </div>

    <script type="text/javascript">
        var addthis_config = addthis_config || {};
        addthis_config.data_track_addressbar = false;
        addthis_config.data_track_clickback = false;
    </script>
    <script>
        $('.scrolltotop').on('click', function () {
            var body = $("html, body");
            body.animate({
                scrollTop: 0
            }, '500', 'swing', function () { });
        });
        $(document).ready(function (e) {



            //                $('nav.menu ul li.active').prev().css({'border-right': 0});
        });


        $('.open-menu').on('click', function () {
            $('#mobile-menu').show();
            $('.wrapper-close-menu').show();
        });
        $('.wrapper-close-menu').on('click', function () {
            $('#mobile-menu').toggle();
            $('.wrapper-close-menu').hide();
        });
        $('.icon-close').on('click', function () {
            $('.search-holder').hide();
        });
        $('.mobile-icon-search').on('click', function () {
            $('.search-holder').show({
                'duration': 300,
                'easing': 'linear'
            });
        });

        $('.top-ads img').load(function () {
            $(this).css({
                'width': '95%'
            });
        });
        setTimeout(function () {
            $('.top-ads a > img').parent().css({
                'height': 'auto'
            });
            $('.top-ads .no-flash').css({
                'width': '100%'
            });
        }, 500);
    </script>

    <div style='display:none'>
        <div id='inline_content' style='padding:10px; background:#fff;'>
        </div>
    </div>

    <script type="text/javascript">
        $(function () {
            w_height = $(window).height();
            $(document).scroll(function () {
                var scrollTop = $(document).scrollTop();
                if (scrollTop > 100) $('#gotop-link').fadeIn();
                else $('#gotop-link').fadeOut();
                $('.floating-ads').each(function () {
                    var $ads = $(this);
                    var parentTop = parseInt($ads.attr('data-top'));
                    if (scrollTop > 100) {
                        //$ads.css('top', scrollTop - parentTop + parseInt($ads.attr('data-top')) + 34);
                        $ads.css('top', scrollTop + w_height / 2 - 250);
                    } else {
                        //$ads.css('top', parseInt($ads.attr('data-top')));
                        $ads.css('top', w_height / 2 - 250);
                    }
                });
            });
        });
    </script>

</body>

</html>
